<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/assets/icons/icons.css">
    <link rel="shortcut icon" type="image/jpg" href="/assets/img/favicon.png">
    <!--IndieWeb-->
    <link rel="me" href="mailto:tim@timculverhouse.com">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="webmention" href="https://webmention.io/indieforums.net/webmention" />
    <link rel="pingback" href="https://webmention.io/indieforums.net/xmlrpc" />

  </head>

  <body>
    {% include header.html %}


     {{ content }}

     <hr>
     {% include footer.html %}
  </body>
</html>