<footer>
    <p>
        <a href="https://xn--sr8hvo.ws/%F0%9F%9B%AB%E2%8F%AF%F0%9F%94%AC/previous">←</a>
        An IndieWeb Webring 🕸💍
        <a href="https://xn--sr8hvo.ws/%F0%9F%9B%AB%E2%8F%AF%F0%9F%94%AC/next">→</a>
    </p>
    <a href="https://indieweb.org" title="Indieweb"><img alt="Indiewebcamp" src="/assets/img/indiewebcamp-button.png"></a>
    <a href="https://webmention.net" title="Webmentions"><img alt="Webmention" src="/assets/img/webmention-button.png"></a>
    <p>Built by <a href="https://www.timculverhouse.com">Tim Culverhouse</a>. Source available on <a href="https://github.com/rockorager/indieforums" title="Github">Github.</a>
</footer>