<header>
    <nav>
        <h1><a href="/" title="Home">Indie<span style="color:red">Forums</span></a></h1>
        <form method="get" id="search" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="https://www.indieforums.net/"/>
            <input type="hidden" name="k7" value="#f8f9fa"/>
            <input type="hidden" name="kj" value="#333"/>
            <input type="hidden" name="kt" value="h"/>
            <input class="field" type="text" name="q" maxlength="255" placeholder="Search"/>
            <input type="submit" value="Search"/>
          </form>
    </nav>
</header>