---js
{
pagination: {
  data: "threads",
  alias: "thread",
  size: 500
},
permalink: "/",
layout: "base",
title: "IndieForums"
}
---

<main>

    {% for thread in pagination.items %}

        {% if thread.sticky == "true" %}
            {%- comment -%}Have to do this inner if statement thing because using the "where" filter isn't working on pagination.items{%- endcomment -%}
            <article class="h-entry thread-list-container sticky">
                <section class="thread-avatar">
                    <p>
                        <a href="{{thread.parent.author.url}}" title="{{thread.parent.author.name}}"><img src="{{thread.parent.author.photo}}" alt="{{thread.parent.author.name}}" width="40px" height="40px" class="avatar"></a>
                    </p>
                </section>

                <section class="thread-details">
                    <h3>
                        <a href="/threads/{{thread.hash}}.html">📌 {{ thread.title }}</a>
                    </h3>
                    <p class="thread-author">Posted by
                        <a href="{{thread.parent.author.url}}">{{thread.parent.author.name}}</a>
                        on
                        <a href="{{thread.parent.wm-source}}">{{thread.parent.published | dayjs }}</a>
                    </p>
                </section>
                <section class="thread-replies">
                    <a href="/threads/{{thread.hash}}.html"><p>{% include icons/comments.svg %} {{thread.posts | size | minus: 1}}</p></a>
                </section>
                <section class="thread-lastUpdated">
                    <a href="{{thread.posts[0].wm-source}}"><p>{{thread.lastUpdated | dayjs }}</p></a>
                    by <a href="{{thread.posts[0].author.url}}">{{thread.posts[0].author.name}}</a>
                </section>
            </article>
        {% endif %}
    {% endfor %}

    {% for thread in pagination.items %}

        {% if thread.sticky == "false" %}
            {%- comment -%}Have to do this weird thing because using the "where" filter isn't working on pagination.items{%- endcomment -%}
            <article class="h-entry thread-list-container">
                <section class="thread-avatar">
                    <p>
                        <a href="{{thread.parent.author.url}}" title="{{thread.parent.author.name}}"><img src="{{thread.parent.author.photo}}" alt="{{thread.parent.author.name}}" width="40" class="avatar"></a>
                    </p>
                </section>

                <section class="thread-details">
                    <h3>
                        <a href="/threads/{{thread.hash}}.html">{{ thread.title }}</a>
                    </h3>
                    <p class="thread-author">Posted by
                        <a href="{{thread.parent.author.url}}">{{thread.parent.author.name}}</a>
                        on
                        <a href="{{thread.parent.wm-source}}">{{thread.parent.published | dayjs }}</a>
                    </p>
                </section>
                <section class="thread-replies">
                    <a href="/threads/{{thread.hash}}.html"><p>{% include icons/comments.svg %} {{thread.posts | size | minus: 1}}</p></a>
                </section>
                <section class="thread-lastUpdated">
                    <a href="{{thread.posts[0].wm-source}}">
                        <p>{{thread.lastUpdated | dayjs }}</p>
                    </a>
                    by
                    <a href="{{thread.posts[0].author.url}}">{{thread.posts[0].author.name}}</a>
                </section>

            </article>
        {% endif %}
    {% endfor %}

</main>