/* -------- Styles for generic --------- */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5rem;
    margin: 0;
    background-color: #f8f9fa;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
header {
    background-color: #333;
    padding: 1em;
}
footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
footer img {
    margin: 0 auto;
}
nav, nav a{
    max-width: 960px;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight:normal;
}
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 6px;
}
.avatar {
    border-radius: 50%;
}

/* -------- Styles for Thread lists --------- */
.thread-container {
    display:flex;
    margin: 0.5em auto;
    padding: 1em 0.5em;
    align-items:center;
    justify-items: center;
    border-radius: 10px;
    background-color: #FFF;
    flex-wrap: wrap;
}
.thread-avatar {
    width: 60px;
    text-align: center;
}
.thread-details {
    flex-grow:10;
    width: 200px;
}
.thread-author, .thread-lastUpdated{
    font-size: 14px;
}
.thread-lastUpdated {
    flex-grow: 1;
}
.thread-replies{
    min-width: 50px;
    text-align: center;
    flex-grow: 2;
}
.thread-container a {
    color: #333;
    text-decoration: none;
}
.thread-container a:hover {
color: blue;
}

/* -------- Styles for mobile --------- */
@media only screen and (max-width: 500px) {
    .thread-avatar, .thread-lastUpdated {
      display: none;
    }
  }