/* -------- Styles for generic --------- */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.7rem;
    margin: 0;
    background-color: #f8f9fa;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
header {
    background-color: #333;
    padding: 1em;
}
footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
footer img {
    margin: 0 auto;
}
nav, nav a{
    max-width: 960px;
    margin: 0 auto;
    color: #FFF;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    display: flex;
}
nav h1 {
    flex-grow: 1;
    font-size: 2em;
}
nav form {
    display: none;
}
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 6px;
}
.avatar {
    border-radius: 50%;
}

/* -------- Styles for Thread lists --------- */
.thread-list-container {
    display:flex;
    margin: 0.5em auto;
    padding: 0.5em 1.5em;
    align-items:center;
    justify-items: center;
    border-radius: 10px;
    background-color: #FFF;
    flex-wrap: wrap;
}
.thread-avatar {
    width: 60px;
    height: 40px;
}
.thread-details {
    flex-grow:10;
    width: 200px;
}
.thread-author, .thread-lastUpdated{
    font-size: 14px;
}
.thread-lastUpdated {
    flex-grow: 1;
    text-align: right;
}
.thread-replies{
    min-width: 50px;
    text-align: center;
    flex-grow: 2;
}
.thread-list-container a {
    color: #333;
    text-decoration: none;
}
.thread-list-container a:hover {
color: blue;
}

/* -------- Styles for thread page ------ */

.thread-container {
    margin: 0.5em auto;
    border-radius: 10px;
    background-color: #FFF;
    max-width: 960px;
}
.thread-title{
    padding: 2em 3em 0 3em;
}
.thread-post {
    border-bottom: 1px solid #333;
    padding: 2em 3em;
}
.thread-post:last-of-type{
    border-bottom: none;
}
.post-author {
    padding-bottom: 1em;
}
.post-author a img {
    vertical-align: middle;
    margin-right: 0.5em;
}
.post-author a {
    color: #333;
    text-decoration: none;
}
.post-content p {
    margin-bottom: 1em;
}

.post-content img {
    max-width: 100%;
    display: block;
    margin: 0.5em auto;
    box-shadow: 0 0 5px 1px #888;
}

.post-permalink {
    font-size: 14px;
    margin-bottom: 1em;
}
.post-permalink a {
    color: #333;
}
.thread-container a:hover {
    color: blue;
}

/* ---- Post footer styles ---- */
.post-footer{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    padding-top: 1em;
}

.post-footer a {
    color:#333;
    text-decoration: none;
}
details {
    flex-grow: 1;
}
details summary::-webkit-details-marker, details summary::marker {
 display: none; 
 content: "";
}
summary{
    cursor: pointer;
    width: 65px;
}
.reply-links {
    background-color: #f8f9fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.report-icon {
    font-size: 12px;
}
svg {
    vertical-align: top;
}

/*----- Content styles -----*/
code {
    font-size: 16px;
    font-family:monospace;
    background-color: #DEDEDE;
    padding: 4px;
    border-radius: 2px;
}
pre {
    white-space: normal;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
    margin: 1em 0;
}


/* -------- Styles for mobile --------- */
@media only screen and (max-width: 500px) {
    .thread-avatar, .thread-lastUpdated {
      display: none;
    }

    .thread-post, .thread-title {
        padding: 1em 0.5em;
    }

    nav form {
        display: none;
    }
}